.autocomplete {
  text-align: left;

  form {
    width: 100%;
    position: relative;

    input {
      width: 100%;
    }

    input.marked {
      background-color: green;
    }

    ul {
      width: 100%;
      position: absolute;
      background: white;
      padding: 0;

      li {
        list-style: none;
        color: black;
        padding: 3px;
        margin: 0;
        border: 1px solid #e9e9e9;
      }

      li.marked {
        background-color: red;
      }

      li.select {
        background-color: blue;
      }
    }  
  }
  
}