$color: #666;
$borderColor: #e9e9e9;
$selectedBackgroundColor: #e7f4fd;
$selectedColor: #108ee9;
$hoverBackgroundColor: #e7f4fd;

$navigationPanelWidth: 300px;

@import 'modal';
@import 'panel';
@import 'autocomplete';

body { 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 60px 0 0 0;
  background: white;
}
.panel > .title > input {
  position: absolute;
  top: 6px;
  right: 40px;
  padding: 5px;
  width: 160px;
}
.content {
  transition: 0.3s;
}

header {
  background-color: #222;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  height: 40px;
  line-height: 1;
  user-select: none;

  .title {
    float: left;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
  }

  >nav {
    .left {
      float: left;
    }

    .right {
      float: right;
    }

    >ul {
      padding: 0;
      margin: 0;

      >li.btn {
        margin: 0;
        float: left;
        list-style: none;
        font-size: 16px;
        line-height: 1;
        padding: 12px;
        cursor: pointer;
      }

      >li.btn:hover {
        color: $selectedColor;
      }
    }
  }
}

.pinned {
  padding-left: $navigationPanelWidth;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
}



.profile {
  padding: 10px;
}

.profile:hover {
  color: $selectedColor;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 40px;
  width: 300px;
  right: 0;
  z-index: 200;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: $borderColor;
  border-radius: 3px;
  color: #666;
  max-height:90%;
  overflow: scroll;
  transition: 0.3s;
  height: auto;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.click {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 190;
}

.fullscreen {
  position: fixed;
  z-index: 1000;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .faces {
    position: absolute;
    z-index: 1100;
    top: 0;
    opacity:0;
    transition:opacity 1s linear;

    .face {
      .border {
        border-style: solid;
        border-width: 5px;
        border-color: white;        
        position: absolute;
      }

      .borderCreate {
        border-color: $selectedColor;
      }

      .field {
        width: 160px;
        height: 20px;
        position: absolute;
      }

      .name {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        text-align: left;

        a {
          text-decoration: none;
          color: $color;
        }
      }
    }

    .face:hover {
      .border {
        div {
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0.3;
        }
      }
    }
  }

  .previous {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 150px;
    cursor: pointer;
  }

  .next {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    width: 150px;
    cursor: pointer;
  }

  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 2em;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity:0;
    transition:opacity 1s linear;
    z-index: 1100;

    .close {
      position: absolute;
      top: 0;
      left: 10px;
      cursor: pointer;
    }

    .options {
      position: absolute;
      top: 0;
      right: 10px;
      cursor: pointer;
    }
  }

  .show {
    opacity: 1;
  }
}

.empty {
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.empty:hover {
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .item {
    margin: 1px;
    position: relative;
    overflow: hidden;
    padding: 0;

    .select {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      z-index: 10;
      cursor: pointer;
      padding: 5px;
      visibility: hidden;
    }

    .like {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      z-index: 10;
      width: 30px;
      height: 30px;
      padding: 5px;
      cursor: pointer;
      visibility: hidden;
      text-align: right;
    }

    .mark {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }

    img {
      user-select: none;
    }
  }

  .item:hover {
    .mark {
      background: linear-gradient(to bottom, rgba(0,0,0,0.65) 21%,rgba(0,0,0,0.65) 26%,rgba(0,0,0,0) 60%,rgba(0,0,0,0) 62%);
    }

    .select {
      color: white;
      visibility: visible;
    }

    .like {
      color: white;
      visibility: visible;
    }    

    .like:hover, .select:hover {
      color: $selectedColor;
    }
  }

  .selected {
    .mark {
      border: 10px solid $selectedColor;
    }
  }
}

.selected {
  color: $selectedColor;
}

ul.options {
  padding: 0;
  margin: 0;

  >li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    user-select: none;
    text-align: left;
    position: relative;
  }

  >li:hover {
    background-color: $hoverBackgroundColor;
  }

  >li.selected {
    background-color: $selectedBackgroundColor;
    border-right: 3px solid $selectedColor;
    padding: 10px 15px;
  }

  >li.disabled {
    color: #aaa;
  }

  >li.action {
    padding: 10px 15px;
    cursor: pointer;
  }

  >.divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}



.inlineProgress {
  display: inline-block;
  width: 100px;
  height: 10px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  position: relative;
  background-color: red;

  .green {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: green;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.drag {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

span.error {
  color: red;
}

span.success {
  color: green;
}

input[type=range] {
  background: transparent;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
}

.preloaded {
  background: #eee;
} 



.date:hover > .dateSelect {
  visibility: visible;
}

.date {
  width: 100%;
  margin: 10px 0 5px 5px;
  font-size: 0.9em;

  >.dateText:hover,>.dateSelect:hover {
    cursor: pointer;
    color: $selectedColor;
  }

  >.dateSelect {
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
  }
}

.button {
  border: 1px solid $borderColor;
  border-radius: 3px;
  background-color: white;
  color: $color;
  font-size: 0.8em;
  padding: 3px;
  user-select: none;
}

.button:hover {
  background-color: $hoverBackgroundColor;
  cursor: pointer;
}

.button:active {
  background-color: $selectedBackgroundColor;
  color: $selectedColor;
}

.users {
  background-color: white;
  text-align: center;

  .list {
    padding: 0;
    margin: 0 auto;

    >div {
      display: inline-block;      
      margin: 5px;
      padding: 10px;
    }

    >div:hover {
      color: $selectedColor;
      cursor: pointer;
    }
  }


}

@media only screen and (max-width: 500px) {
    .min500 {
      display: none;
    }
}

@media only screen and (min-width: 500px) {
    .max500 {
      display: none;
    }
}

