.panelm {
  >.panel {
    position: fixed;
    top: 0;
    bottom: 0;
    
    background-color: white;
    color: #666;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 900;
    width: 0;
    max-width: 90%;

    .body {
      overflow-x: scroll;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .title {
      padding: 10px;
      border-bottom: 1px solid $borderColor;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $borderColor;
    }
  }

  >.hasFooter {
    >.body {
      bottom: 38px;
    }
  }

  >.hasHeader {
    >.body {
      top: 38px;
    }
  }

  >.open {
    border: 1px solid $borderColor;
    width: $navigationPanelWidth;
  }
}