dist/
data/
cache/
uploads/
node_modules/
public/bundle.js
public/css/*.css
public/javascript/client.js
public/javascript/client.js.map
public/vendor/javascript/vendor-manifest.json
public/vendor/javascript/dll.vendor.js
*.log
