div.album {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 950;
  overflow: auto;

  .content {
    margin: auto;
  }

  .close {
    position: fixed;
    top: 0;
    left: 0;
  }

  .edit {
    position: fixed;
    top: 0;
    right: 0;
  }

  .entry {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
