div.album {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 950;
  overflow: auto;

  .content {
    margin: auto;
  }

  .close {
    position: fixed;
    top: 0;
    left: 0;
  }

  .editButton {
    position: fixed;
    top: 0;
    right: 0;
  }

  .entry {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .textbox {
    width: 100%;
  }

  .editMode {
    .textbox {
      textarea {
        width: 100%;
      }
    }

    .buttonsLeft > span:hover, .buttonsRight > span:hover {
      color: $selectedColor;
    }

    .buttonsLeft > span, .buttonsRight > span {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;
    }

    .buttonsLeft {
      position: absolute;
      top: 0;
      left: 0;
    }

    .buttonsRight {
      position: absolute;;
      top: 0;
      right: 0;
    }
  }
}
