.tags {
  text-align: left;

  h4 {
    padding: 5px;
    margin: 0;
  }

  .input {
    padding: 5px;
    margin: 0;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 7px;
      list-style: none;
      margin: 0;

      a {
        text-decoration: none;
        color: $color;
      }
    }

    li:hover {
      background-color: $hoverBackgroundColor;
    }
  }
}

.autocomplete {
  text-align: left;

  form {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;

    input {
      width: 100%;
      font-size: 14px;
      padding: 5px;
    }

    input.marked {
      background-color: #ffdaa0;
    }

    ul {
      width: 100%;
      position: absolute;
      background: white;
      padding: 0;
      margin: 0;
      z-index: 2000;

      li {
        position: relative;
        list-style: none;
        color: black;
        font-size: 14px;
        padding: 10px;
        margin: 0;
        border: 1px solid #e9e9e9;
        background-color: white;
        cursor: pointer;
        z-index: 3000;
      }

      li.marked {
        background-color: $hoverBackgroundColor;
      }

      li.select {
        background-color: $selectedBackgroundColor;
        color: $selectedColor;
      }
    }  
  }
  
}