$color: #666;
$borderColor: #e9e9e9;
$selectedBackgroundColor: #e7f4fd;
$selectedColor: #108ee9;
$hoverBackgroundColor: #e7f4fd;
$navigationPanelWidth: 300px;

@import 'utils';
@import 'form';
@import 'settings';
@import 'fullscreen';
@import 'images';
@import 'options';
@import 'header';
@import 'album';
@import 'markdown';

html {
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 40px 0 0 0;
  background: white;
}

h1 {
  nav {
    float: right;
    user-select: none;

    a {
      display: inline-block;
      font-size: 1rem;
      font-weight: normal;
      cursor: pointer;
      border: 1px solid $borderColor;
      padding: .3rem .6rem;
      margin-top: 5px;
      background-color: white;
      color: #373a3c;
    }

    a:hover {
      background-color: $hoverBackgroundColor;
      color: #373a3c;
    }
  }

  form.quickedit {
    display: inline-block;
    margin: 0;
    padding: 0;

    input, input:focus {
      font-family: inherit;
      font-weight: inherit;
      color: inherit;
      font-size: 1em;
      border: 0;
      margin: 0;
      padding: 0;
      outline: none;
    }
  }
}

h1::after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

h3 {
  padding-left: 5px;
}

.panel > .title > input {
  position: absolute;
  top: 6px;
  right: 40px;
  padding: 3px;
  width: 160px;
}
.content {
  transition: 0.3s;
}

.pinned > .title {
  display: none;
}

.pinned {
  padding-left: $navigationPanelWidth;
}

.badge {
  float: right;
  cursor: pointer;
}

.badge:hover {
  color: $selectedColor;
}

.profile {
  padding: 10px;
}

.profile:hover {
  color: $selectedColor;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 40px;
  width: 300px;
  right: 0;
  z-index: 200;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: $borderColor;
  border-radius: 3px;
  color: #666;
  max-height:90%;
  overflow: scroll;
  transition: 0.3s;
  height: auto;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.click {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 190;
}

.empty {
  width: 100%;
  height: 100%;
  font-size: 2em;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.empty:hover {
  font-weight: bold;
}

.selected {
  color: $selectedColor;
}

.inlineProgress {
  display: inline-block;
  width: 100px;
  height: 10px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  position: relative;
  background-color: red;

  .green {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: green;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.drag {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

span.error {
  color: red;
}

span.success {
  color: green;
}

input[type=range] {
  background: transparent;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #000000;
}

.preloaded {
  background: #eee;
}

.date:hover > .dateSelect {
  visibility: visible;
}

.date {
  width: 100%;
  margin: 10px 0 5px 5px;
  font-size: 0.9em;

  >.dateText:hover,>.dateSelect:hover {
    cursor: pointer;
    color: $selectedColor;
  }

  >.dateSelect {
    visibility: hidden;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
  }
}

.button {
  border: 1px solid $borderColor;
  border-radius: 3px;
  background-color: white;
  color: $color;
  font-size: 0.8em;
  padding: 3px;
  user-select: none;
}

.button:hover {
  background-color: $hoverBackgroundColor;
  cursor: pointer;
}

.button:active {
  background-color: $selectedBackgroundColor;
  color: $selectedColor;
}

.users {
  background-color: white;
  text-align: center;

  .list {
    padding: 0;
    margin: 0 auto;

    >div {
      display: inline-block;
      margin: 5px;
      padding: 10px;
    }

    >div:hover {
      color: $selectedColor;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 500px) {
    .min500 {
      display: none;
    }
}

@media only screen and (min-width: 500px) {
    .max500 {
      display: none;
    }
}
