ul.options {
  padding: 0;
  margin: 0;

  >li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    user-select: none;
    text-align: left;
    position: relative;

    a {
      padding: 10px 15px;
      cursor: pointer;
      display: block;
    }

    .badge {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 10px 15px;
    }
  }

  >li:hover {
    background-color: $hoverBackgroundColor;
  }

  >li.selected {
    background-color: $selectedBackgroundColor;
    border-right: 3px solid $selectedColor;

    a {
      color: $selectedColor;
    }
  }

  >li.disabled {
    color: #aaa;
  }

  >.divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}